@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  @apply bg-gray-100 text-gray-800;
}

.container {
  @apply max-w-6xl mx-auto px-4;
}

.recharts-surface:focus,
.recharts-sector:focus {
  outline: none;
}

.is-card .OffsetContainer {
  display: none;
}
